body {
  background-color: #3399cc;
  border: 22px solid #2b81ac;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  cursor: default;
}
header {
  margin: 25px 0;
  font-size: 14px;
}
.container {
  width: 70%;
  min-width: 30%;
  margin: 0 auto;
}
.ba-footer {
  margin: 25px 0;
  font-size: 19px;
}
.cities {
  list-style: none;
  text-align: center;
  font-size: 0;
  border: 3px solid #fff;
  background: #fff;
}
.cities li {
  display: inline-block;
  font-size: 24px;
  border: 3px solid #fff;
  padding: 25px;
}
.cities p {
  position: relative;
}
.cities li p:last-child {
  opacity: 0.7;
}
.wi {
  font-size: 34px;
}
.wi-sunrise {
  font-size: 26px;
}
.wi-night-sleet {
  font-size: 26 px;
}

.lisbon {
  background: #3399cc;
  width: 50%;
}
.paris {
  background: #33cccc;
  width: 25%;
}
.belgrade {
  background: #996699;
  width: 25%;
}
.moscow {
  background: #c24747;
  width: 25%;
}
.tel-aviv {
  background: #e2674a;
  width: 25%;
}
.cair {
  background: #ffcc66;
  width: 25%;
}
.new-york {
  background: #99cc99;
  width: 25%;
}
.new-delhi {
  background: #669999;
  width: 25%;
}
.san-francisco {
  background: #cc6699;
  width: 50%;
}
.tokyo {
  background: #339966;
  width: 25%;
}
.sydney {
  background: #666699;
  width: 100%;
}
.cities:hover > li {
  opacity: 0.6;
}
.cities > li:hover {
  opacity: 1;
}
